<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Vrde Club</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/ico" href="images/favicon.ico" />
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:500" rel="stylesheet">

</head>

<body>
    <div class="main" id="app">
        <div class="header">
            <img src="./images/logoMainIcon.png" alt="" class="logo">
            <div class="contain">
                <div class="filter">
                    <a class="button active" @click="setVisibility('veggie'); toggleActive($event);"  >Verdura</a>
                    <a class="button active" @click="setVisibility('fruit'); toggleActive($event)" >Fruta</a>
                    <a class="button active" @click="setVisibility('meal'); toggleActive($event)" >Comidas</a>
                </div>
                <div class="search">
                    <div class="searchLabel">
                        Buscar
                    </div>
                    <input type="text" v-model="search">
                </div>
            </div>
        </div>
        <div class="products">
            <div class="item" v-for="item in filteredItems">
                <img :src="`${item.url}`" class="productImage">
                <div class="title">{{item.name}} = ${{item.price || price}}</div>
                <div class="setAmount">
                    <div class="remove" v-on:click="removeItem(item)">-</div>
                    <input type="number" step="any" class="amount" v-on:input="updateValue(item)" v-model="item.amount" />
                    <div class="add" v-on:click="addItem(item)">+</div>
                </div>
            </div>
        </div>
        <div class="cart">
            <div class="veggieCart" v-if="cartHas.veggie == true">
                <div class="discounts">
                    <div class="discountTitle">Precios por Unidad</div>
                    <div class="amount" v-for="item in discounts">

                        <div class="amount">{{item.amount}}</div>
                        <div class="equals"> = </div>
                        <div class="price">${{item.price}}</div>
                    </div>
                </div>
                <div class="veggies">Verduras</div>
                <div class="price">Precio por unidad = ${{this.price}}</div>
                <div class="price">Unidades = {{this.cartItems}}</div>
                <div class="item" v-for="item in cart" v-if="item.type == 'veggie'">
                    <div class="name">{{item.name}}</div>
                    <div class="amount">${{item.price}} * {{item.amount}}</div>
                    <div class="equals"> = </div>
                    <div class="total"> ${{item.total}}</div>
                </div>
            </div>
            <div class="fruitCart"  v-if="cartHas.fruit == true">
                <div class="fruits">Frutas</div>
                <div class="item" v-for="item in cart" v-if="item.type == 'fruit'">
                    <div class="name">{{item.name}}</div>
                    <div class="amount">${{ item.price }} * {{item.amount}}</div>
                    <div class="equals">=</div>
                    <div class="total"> ${{item.total}}</div>
                </div>
            </div>
            <div class="mealCart" v-if="cartHas.meal == true">
                <div class="fruits">Comidas</div>
                <div class="item" v-for="item in cart" v-if="item.type == 'meal'">
                    <div class="name">{{item.name}}</div>
                    <div class="amount">${{ item.price }} * {{item.amount}}</div>
                    <div class="equals">=</div>
                    <div class="total"> ${{item.total}}</div>
                </div>
            </div>
            <div class="cartTotal">Total = ${{cartTotal}}</div>
            <form action="#" class="userForm">
                <div class="title">Datos de Usuario</div>
                <input type="text" placeholder="Nombre" v-model="userData.name" required>
                <input type="text" placeholder="Direccion" v-model="userData.address" v-if="userData.delivery == true" required>
                <input type="tel" placeholder="Telefono" v-model="userData.phone" required>
                <input type="email" placeholder="Correo" v-model="userData.email" required>
                <div class="delivery">
                    <label for="delivery" value="Retiro en local" class="label">Entrega a tu casa</label>
                    <input id="delivery" type="checkbox" v-model="userData.delivery">
                </div>
            </form>
            <div class="confirm" v-on:click="saveSale(cart)">Realizar Pedido</div>
        </div>
    </div>
    <script src="https://www.gstatic.com/firebasejs/5.7.3/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.7.2/firebase-database.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyBglbKOL_Ntls_USfZ8gRFT2yt2mKbmshE",
            authDomain: "mundoverde-836c0.firebaseapp.com",
            databaseURL: "https://mundoverde-836c0.firebaseio.com",
            projectId: "mundoverde-836c0",
            storageBucket: "bucket.appspot.com",
            messagingSenderId: "472369472507"
        };

        firebase.initializeApp(config);

        // Get a reference to the database service
        var database = firebase.database();

    </script>
</body>

</html>