input:required {
    border: 1px dashed red;
  }

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.main {
    align-content: center;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
}

.main .search {
    background-color: #333;
    height: 20px;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    /* margin-top: 10px; */
    flex: 1;
    margin-bottom: 10px;
    max-width: 285px;
}

.main .search .searchLabel {
    color: white;
    text-align: left;
    display: flex;
    align-items: center;
    height: 20px;
    font-family: 'Ubuntu', sans-serif;
    width: 50px;
    padding-right: 10px;
}

.main .search img.searchLabel {
    background-color: #333;
    height: 20px;
    padding: 20px;
}

.main .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    /* max-width: 620px; */
    margin-bottom: 20px;
}

.main .header .contain{display: flex;justify-content: center;flex-direction: row;align-items: flex-end;/* align-items: flex-start; *//* margin-left: 20px; */position: relative;top: 10px;flex-wrap: wrap;/* height: 40px; */}

.filter {
    display: flex;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
    height: 45px;
    flex: 1;
    margin-bottom: 10px;
}
.filter .button {padding: 10px;background-color: #333333;color: #999999;display: flex;justify-content: center;text-align: center;/* margin: 5px; */cursor: pointer;min-width: 76px;max-width: 80px;margin: 5px;margin-bottom: 0px;flex: 1;}

.filter .button.active {color: white;background-color: #00cc65;}
.userForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 281px;
    position: relative;
    top: 2px;
    margin-bottom: 20px;
}
.userForm .title{
    flex: 1 100%;
    margin-bottom: 13px;
}
.userForm input {
    border-width: 0px;
    padding: 9px;
    font-size: 14px;
    margin: 2px;
    min-width: 210px;
    background-color: #f0f0f0;
}
.delivery {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 10px;
    font-size: 16px;
}
.delivery label{}
.delivery input{
    width: 10px;
    min-width: 20px;
    position: relative;
    top: 1.5px;
}
.discounts {
    margin: 0px;
    display: flex;
    flex-direction: column;
    height: 114px;
    max-width: 370px;
    flex-wrap: wrap;
    position: relative;
    margin-top:20px;
    justify-content: flex-start;
}

.discountTitle{
    position: absolute;
    top: -27px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    color: #00cc65;
}
.fruitCart, .mealCart{
    margin-top :20px;
}
.equals{
    margin: 0px 10px;
    max-width: 10px;
}
.discounts .amount{
    display: flex;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    padding: 4px;
    justify-content: flex-start;
}
.discounts .amount * {
    width: 60px;
    text-align: center;
}

.main .header .title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    font-family:sans-serif;
    font-weight: bold;
    font-size: 23px;
    color: #17ba7bfc;
    width: 290px;
    margin-bottom: 10px;
}


.main .header .logo {height: 154px;position: relative;/* top: 9px; */margin: 10px;}

.main .products {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
    margin-top: 10px;
    flex-wrap: wrap;
}

.main .products .item {
    width: 150px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    background: #333;
    margin: 5px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 10px;
}

.main .products .item .productImage {
    width: 150px;
    height: 100px;
    background: #e6e6e6;
    object-fit: cover;
}
.main .products .item .title {
    color: white;
    padding: 10px;
}
.main .products .item .price {
    margin-bottom: 10px;
    color: white;
    padding-left: 10px;
    display: none;
}

.main .products .item .setAmount {
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main .products .item .add {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-color: #fe5047;
    height: 31px;
    color: white;
    font-size: 25px;
    cursor: pointer;
}

.main .products .item .remove {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-color: #00cc65;
    height: 31px;
    color: white;
    font-size: 25px;
    cursor: pointer;
}

.main .products .item .amount {
    width: 30px;
    height: 25px;
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
}

.main .cart {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    flex-wrap: wrap;
    padding: 10px;
    font-family: 'Ubuntu', sans-serif;
}
.main .cart .price {
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 12px;
}
.main .cart .item{
    display: flex;
    padding: 5px;
    margin: 5px;
    border-bottom: 0.2px solid #b4b4b4;
   font-family: 'Ubuntu', sans-serif;
}
.main .cart .item .name{
    margin-right: -10px;
    width: 160px;
    font-size: 13px;
}
.main .cart .item .amount{
    margin-right:5px;
    width: 70px;
    font-size: 16px;
}

.main .cart .item .total{
 color:#00cc70;
}
.main .cart .cartTotal{
    font-size: 20px;
    margin: 20px;
    color: #00cc65;
}

.main .cart .confirm{
    width: 200px;
    display: flex;
    text-align: center;
    background-color: #00cc65;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
}


