/* CSS reset with box-sizing fix */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input:required {
    border: 1px dashed red;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

body {
    margin: 0px;
}

.main {
    align-content: center;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
}

.main .search {
    background-color: #333;
    height: 20px;
    padding: 16px 20px;
    display: flex;
    flex-direction: row;
    /* margin-top: 10px; */
    flex: 1;
    /* margin-bottom: 10px; */
    justify-content: center;
    align-items: center;
    max-width: 320px;
    height: 50px;
    margin-bottom: 10px;
}

.main .search.fixed {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    max-width: 100%;
    z-index: 1000;
    height: 50px;
}

.search input {
    flex: 1;
    max-width: 150px;
}

.filterProducts {
    max-width: 320px;
    font-family: Ubuntu;
    font-size: 14px;
    padding-bottom: 12px;
    position: relative;
    bottom: 0px;
}

.main .search .searchLabel {
    color: white;
    text-align: left;
    display: flex;
    align-items: center;
    height: 18px;
    font-family: 'Ubuntu', sans-serif;
    /* width: 118px; */
    padding-right: 10px;
    flex: 1;
    max-width: 110px;
}

.main .search img.searchLabel {
    background-color: #333;
    height: 20px;
    padding: 20px;
}

.main .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    /* max-width: 620px; */
    align-items: center;
    margin-bottom: 20px;
}

.main .header .contain {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-end;
    /* align-items: flex-start; */
    /* margin-left: 20px; */
    position: relative;
    top: 10px;
    flex-wrap: wrap;
    /* height: 40px; */
    max-width: 438px;
    /* min-height: 120px; */
    max-height: 100px;
}

.filter {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    font-family: 'Ubuntu', sans-serif;
    height: 45px;
    flex: 1;
    /* margin-bottom: 10px; */
    max-width: 320px;
}

.filter .button {
    padding: 13px;
    background-color: #333333;
    color: #999999;
    display: flex;
    justify-content: center;
    text-align: center;
    /* margin: 5px; */
    cursor: pointer;
    max-width: 100px;
    margin-bottom: 0px;
    flex: 1;
    padding-top: 15px;
}

.filter .button.active {
    color: white;
    background-color: #00cc65;
}

.userForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 281px;
    position: relative;
    top: 2px;
    margin-bottom: 30px;
}

.userForm .title {
    flex: 1 100%;
    margin-bottom: 13px;
}

.userForm input {
    border-width: 0px;
    padding: 9px;
    font-size: 14px;
    margin: 2px;
    min-width: 210px;
    background-color: #f0f0f0;
    flex: 1;
}

.userForm input.disabled {
    border-width: 0px;
    padding: 5px;
    /* margin-top :4px; */
    font-size: 14px;
    margin: 6px;
    min-width: 210px;
    background-color: #f0f0f0;
    flex: 1;
    opacity:0.3;
    position:relative;
}

.delivery {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 10px;
    font-size: 16px;
}

.delivery label .small {
    position: relative;
    top: 5px;
    font-size: 10px;
}

.delivery label {
    position: relative;
    top: 2px;
}

.delivery input {
    width: 10px;
    min-width: 20px;
    position: relative;
    top: 1.5px;
}

.discounts {
    margin: 0px;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    /* align-items: flex-start; */
    /* flex: 1; */
    padding: 10px;
    min-width: 240px;
}

.discountTitle {
    font-family: 'Ubuntu', sans-serif;
    font-size: 22px;
    color: #00cc65;
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
    width: 200px;
}

.discountTitle .subtitle {
    font-size: 14px;
    color: #333;
    line-height: 20px;
    margin-top: 5px;
}

.fruitCart, .mealCart {
    margin-top: 20px;
    padding: 10px;
    background: #333;
    color: white;
    padding-bottom: 20px;
}

.fruitCart .fruits, .mealCart .fruits {
    padding: 10px;
    background: #333;
    color: #00cc65;
    font-size: 25px;
}

.equals {
    margin: 0px 10px;
    max-width: 10px;
    padding-top: 0px;
}

.discounts .amount {
    display: flex;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    padding: 3px;
    /* padding-right: 10px; */
    justify-content: flex-start;
    align-items: center;
    color: #333333;
    width: 110px;
}

.discounts .amount {
    /* width: 110px; */
    /* text-align: center; */
}

.discounts .price {
    width: 240px;
    /* text-align: center; */
}

.main .header .title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 23px;
    color: #17ba7bfc;
    width: 290px;
    margin-bottom: 10px;
}

.main .header .logo {
    height: 154px;
    position: relative;
    /* top: 9px; */
    margin: 10px;
}

.main .products {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
    margin-top: 10px;
    flex-wrap: wrap;
}

.main .products .item {
    width: 150px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    background: #333;
    margin: 5px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 10px;
}

.main .products .item .productImage {
    width: 150px;
    height: 100px;
    background: #e6e6e6;
    object-fit: cover;
}

.main .products .item .title {
    color: white;
    padding: 10px;
}

.main .products .item .price {
    margin-bottom: 10px;
    color: white;
    padding-left: 10px;
    display: none;
}

.main .products .item .setAmount {
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main .products .item .add {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-color: #fe5047;
    height: 40px;
    color: white;
    font-size: 35px;
    cursor: pointer;
    padding-bottom: 4px;
}

.main .products .item .remove {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-color: #00cc65;
    height: 40px;
    color: white;
    font-size: 35px;
    cursor: pointer;
    padding-bottom: 4px;
}

.main .products .item .amount {
    width: 50px;
    height: 40px;
    display: flex;
    align-items: center;
    align-content: center;
    text-align: center;
    font-size: 20px;
    color: #8b8b8b;
}

.main .cart {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 0px;
    flex-wrap: wrap;
    /* padding: 10px; */
    font-family: 'Ubuntu', sans-serif;
    margin-top: 20px;
    /* background-color: #333; */
    color: #555555;
    position: relative;
    /* margin-bottom: 40px; */
}

.main .cart .head {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    /* max-width: 310px; */
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.main .cart .head .schedule {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* flex: 1; */
    padding: 10px;
    min-width: 240px;
    max-width: 300px;
}

.main .cart .head .schedule .title {
    display: flex;
    /* flex: 1; */
    font-family: 'Ubuntu', sans-serif;
    font-size: 22px;
    color: #00cc65;
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
}

.main .cart .head .schedule .day {
    display: flex;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    padding: 2px;
    justify-content: flex-start;
    color: #333333;
    margin-bottom: 4px;
    line-height: 20px;
}

.main .cart .veggieCart {
    padding: 10px;
    background: #333;
    color: white;
    padding-bottom: 20px;
}

.main .cart .veggieCart .veggies {
    padding: 10px;
    background: #333;
    color: #00cc65;
    font-size: 25px;
}

.main .cart .price {
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 16px;
    position: relative;
    left: 10px;
    /* bottom: 6px; */
    top: 1px;
}

.main .cart .item {
    display: flex;
    padding: 5px;
    margin: 5px;
    border-bottom: 0.2px solid #b4b4b4;
    font-family: 'Ubuntu', sans-serif;
}

.main .cart .item .name {
    margin-right: -10px;
    width: 160px;
    font-size: 13px;
}

.main .cart .item .amount {
    margin-right: 5px;
    width: 70px;
    font-size: 16px;
}

.main .cart .item .total {
    color: #00cc70;
}

.main .cart .cartTotal {
    font-size: 20px;
    margin: 20px;
    color: #00cc65;
}

.main .cart .confirm {
    width: 200px;
    display: flex;
    text-align: center;
    background-color: #00cc65;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
    color: white;
}

.main .cart .confirmSale {
    background: white;
    max-width: 100%;
    padding: 30px;
    width: 100%;
    /* position: fixed; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main .cart .confirmSale .reload {
    margin-top: 10px;
}

.footer {
    width: 100%;
    padding: 20px;
    color: #333333;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}

.footer .footerLogo {
    height: 64px;
    position: relative;
    /* top: 27px; */
    margin-right: 20px;
}

.footer .social {
    display: flex;
    flex-direction: column;
    /* position: relative; */
    /* max-width: 240px; */
    /* padding: 10px; */
    position: relative;
    top: 3px;
}

.footer .social .footerLogo {
    width: 160px;
    position: absolute;
    left: 0px;
}

.footer .social .insta {
    height: 20px;
    position: relative;
    top: 4px;
    margin-right: 8px;
}

.footer .social .fb {
    height: 18px;
    position: relative;
    top: 3px;
    margin-right: 7px;
    left: 2px;
}

.footer .social .link {
    margin-bottom: 5px;
    position: relative;
}

.footer .social .web {
    height: 19px;
    margin-right: 6px;
    top: 3px;
    left: 1px;
    position: relative;
}

.footer .social .weblink {
    text-decoration: none;
    margin-bottom: 2px;
    position: relative;
}

.footer .contact {
    position: relative;
    margin-top: 3px;
    line-height: 26px;
}

.footer .contact .phone {
    position: relative;
    height: 20px;
    top: 4px;
    margin-right: 5px;
}

.footer .zones {
    margin-top: 2px;
    position: relative;
    line-height: 26px;
}

.footer .zones .zone {
    position: relative;
    height: 20px;
    top: 5px;
    margin-right: 5px;
}