<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Vrde Club</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/ico" href="images/favicon.ico" />
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:500" rel="stylesheet">
</head>

<body>
    <div class="main" id="app">
        <div class="header">
            <img src="./images/iconocolonia.jpg" alt="" class="logo">
            <div class="contain">
                <div class="search">
                    <div class="searchLabel">
                        Que buscas?
                    </div>
                    <input id="searchInput" v-on:input="scrollTop()" type="text" v-model="search"
                        placeholder="Variedad">
                </div>
                <div class="filter">
                   
                
                </div>
            </div>
            <div class="headerDisplay">
                <div class="aviso">
                    Bienvenido/a a la sección de pedidos de la Colonia 20 de Abril de Jauregui
                    <br />
                    Para el cuidado de la comida que producimos utilizamos todos productos orgánicos que preparamos.
                    <br />
                    En lo posible realizá tu pedido con 48 hrs de anticipación, gracias.
                </div>
            </div>
        </div>
        <div class="products">
            <div v-cloak class="item" v-for="item in filteredItems">
                <img :src="`${item.url}`" class="productImage">
                <div class="title" v-if="item.type == 'veggie'">{{item.name}} = ${{ price }}</div>
                <div class="title" v-if="item.type == 'fruit' || item.type == 'meal'">{{item.name}} = ${{ item.price }}
                </div>
                <div class="setAmount">
                    <div class="remove" v-on:click="removeItem(item)">-</div>
                    <input type="number" step="any" class="amount" v-on:input="updateValue(item)"
                        v-model="item.amount" />
                    <div class="add" v-on:click="addItem(item)">+</div>
                </div>
            </div>
        </div>
        <div class="cart">
            <div class="head">
                <div class="discounts">
                    <div class="discountTitle">
                        <div class="subtitle">
                            <br />
                            <br />
                        </div>
                    </div>
                </div>
                <div class="schedule">
                    <div class="title">Horarios</div>
                    <div class="day">Lunes a Sábado de 8 a 17 hrs <br />
                    </div>
                </div>
            </div>
            <div class="veggieCart" v-if="cartHas.veggie == true" v-cloak>
                <div class="veggies">Verduras</div>
               <div class="item" v-for="item in cart" v-if="item.type == 'veggie'">
                    <img :src="`${item.url}`" alt="" class="img">
                    <div class="itemName">
                        <div class="name">{{item.name}}</div>
                        <div class="itemTotal">
                            <div class="amount">${{ item.price }} * {{item.amount}}</div>
                            <div class="equals">=</div>
                            <div class="total"> ${{item.total}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="fruitCart" v-if="cartHas.fruit == true">
                <div class="fruits">Frutas</div>
                <div class="item" v-for="item in cart" v-if="item.type == 'fruit'">
                    <img :src="`${item.url}`" alt="" class="img">
                    <div class="itemName">
                        <div class="name">{{item.name}}</div>
                        <div class="itemTotal">
                            <div class="amount">${{ item.price }} * {{item.amount}}</div>
                            <div class="equals">=</div>
                            <div class="total"> ${{item.total}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mealCart" v-if="cartHas.meal == true">
                <div class="fruits">Comidas
                    <div class="subtitle">Realizadas con todas verduras y frutas agroecológicas</div>
                </div>
                <div class="item" v-for="item in cart" v-if="item.type == 'meal'">
                    <img :src="`${item.url}`" alt="" class="img">
                    <div class="itemName">
                        <div class="name">{{item.name}}</div>
                        <div class="itemTotal">
                            <div class="amount">${{ item.price }} * {{item.amount}}</div>
                            <div class="equals">=</div>
                            <div class="total"> ${{item.total}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cartTotal">Total = ${{cartTotal}}</div>
            <form action="#" class="userForm">
                <div class="title">Datos de Usuario</div>
                <div class="required">* Por favor llene los campos requeridos</div>
                <input class="requiredInput" type="text" placeholder="Nombre" v-model="userData.name" required>
                <input class="requiredInput" type="tel" placeholder="Telefono" v-model="userData.phone" required>
                
                <input type="datetime-local" placeholder="¿Cuándo retiras?" v-model="userData.email" required>
                
            </form>
            <div class="confirm" v-on:click="saveSale(cart)" v-show="saleComplete == false">Realizar Pedido</div>
            <div class="confirmSale" v-show="saleComplete == true">
                Su pedido se ha realizado con exito!
                <a class="reload" href="/">Realizar otro pedido</a>
            </div>
            <div class="footer">
                <img src="images/iconocolonia.jpg" alt="" class="footerLogo">
                <div class="social">
                    <div class="link">
                    </div>
                    <div class="contact">
                        <img src="images/phone.png" alt="" class="phone">Ante consultas comunicarse con
                        
                        <br />
                    </div >Marcos    15 5840 0139
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://www.gstatic.com/firebasejs/5.7.3/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.7.2/firebase-database.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script src="products.js"></script>
    <script src="main.js"></script>
    <script>

        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyCHGrlddEgqbj3WAa9SeY9dXOGOHA8x3uo",
            authDomain: "colonia-20-de-abril.firebaseapp.com",
            databaseURL: "https://colonia-20-de-abril.firebaseio.com",
           projectId: "colonia-20-de-abril",
           storageBucket: "colonia-20-de-abril.appspot.com",
             messagingSenderId: "73383669903",
           appId: "1:73383669903:web:714c025e9f012846"
        };

        firebase.initializeApp(config);

        var database = firebase.database();

    </script>
</body>

</html>